header {
  font-family: $font-family;
  background-image:url("../../../Assets/Images/HeroBG.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .hero-title {
    font-size: 72px;
    margin-top:0;
    padding-top: 0;
    font-weight: 700;
    font-family: inherit;
    color: $light-text;
  }
  .hero-kicker {
    font-size:36px;
    color: $light-text;
    font-family: inherit;
    font-weight: 100;
  }
}
@media screen and (max-width:570px) {
  header {
    height: 400px;
    display: block;
    padding-top:75px;
  }
}
