.submit-section {
  font-family: $font-family;
  background-color: $alt-background;
  width:100%;
  height: 450px;
  .container {
    padding-top:25px;
    .section-header {
      text-align: center;
      color:$light-text;
      font-weight: 700;
      font-size: 36px;
    }
    .map-submit {
      font-weight: 100;
      font-size: 24px;
      color:$light-text;
      text-align: center;
      .state {
        text-align: center;
        font-weight: 100;
        font-size: 24px;
        margin-bottom: 25px;
      }
      label {
        font-size:18px;
      }
      .submit {
        font-family: $font-family;
        color:$light-text;
        font-size: 24px;
        -webkit-border-radius: 0;
        -webkit-appearance: none;
        border-radius: 0;
        border: 3px solid $light-text;
        background-color: white;
        padding-top:5px;
        padding-bottom: 5px;
        padding-left:15px;
        padding-right: 15px;
        margin-top: 15px;
        cursor:pointer;
      }
    }
  }
}
